* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Circular Std", sans-serif;
  max-width: 100%;
  line-height: 1;
  overflow: hidden;
}
section {
  padding: 8rem 0;
}
.row {
  max-width: 114rem;
  margin: 0 3rem;
}
/*---------------------------------*/
/* HEADER */
/*---------------------------------*/
header {
  background-color: #fff;
  height: 100vh;
}
h1 {
  text-align: left;
  font-size: 5rem;
  font-family: "Circular Std", sans-serif;
  text-transform: capitalize;
  margin-top: 5rem;
}
.hero {
  display: block;
  position: absolute;
  top: 11rem;
  color: #150825;
}
.hero-dashboard {
  /* display: block; */
  width: 48rem;
  height: 33rem;
  position: absolute;
  left: 72rem;
  top: 16rem;
  z-index: 9998;
  box-shadow: 0px 3px 6px #555;
  border-radius: 5px;
}
.hero-dashboard1 {
  position: absolute;
  /* box-shadow: 1px 1px 3px #555; */
  height: 14rem;
  width: 29rem;
  top: 24.9rem;
  left: 74rem;
  z-index: 9999;
}
.hero-dashboard2 {
  z-index: 9999;
  position: absolute;
  top: 21.6rem;
  left: 105.2rem;
  width: 24.5rem;
  height: 16.5rem;
}
.rectangle {
  display: block;
  position: relative;
  float: right;
  transform: rotate(180deg);
  top: -10.5rem;
  right: -20rem;
}

.circle {
  display: block;
  position: relative;
  background-color: #150825;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: auto;
  padding: auto;
  top: 30rem;
  left: 4rem;
}

/*---------------------------------*/
/* NAVIGATION */
/*---------------------------------*/
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-left: 105rem;
  list-style: none;
  z-index: 9999;
  right: 0rem;
}
.main-nav li {
  padding: 1.5rem;
  display: inline-block;
  margin: 2.9rem 0.5rem;
  color: #4f4f4f;
}
.main-nav li:hover {
  /* border:  2px solid #150825; */
  padding: 1.5rem;
  border-radius: 10px;
  /* display: inline-block; */
  transition: linear 0.3s;
  background-color: transparent;
  color: #150825;
  cursor: pointer;
}

.logo {
  /* height: 100px; */
  width: auto;
  float: left;
  margin-top: 2.5rem;
  opacity: 0.8;
}
.logo1 {
  position: relative;
  z-index: 9999;
  width: 9.5rem;
  height: 6rem;
  bottom: 17rem;
  left: 17.3rem;
}

#li-artist {
  border: 2px solid #150825;
  padding: 1.5rem;
  border-radius: 10px;
  display: inline-block;
}
#li-artist:hover {
  color: #fff;
  background-color: #150825;
}

/* Shapes */

.circle-footer {
  background-color: rgb(231, 231, 231);
  position: relative;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  top: 9rem;
  left: 9rem;
  z-index: 9997;
}
.circle-footer1 {
  background-color: #ff7657;
  position: relative;
  z-index: 80;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  left: 29rem;
  bottom: 15rem;
}

/* IMAGES */

p {
  text-align: left;
  font-size: 2rem;
}

/* Buttons */
.btn-hero {
  display: block;
  position: relative;
  top: 42rem;
  left: -12rem;
}
.btn-app:link,
.btn-app:visited {
  border: 0;
}

/* .btn-app img {
  margin-right: 1rem;
  width: auto;
  height: 5rem;
  display: block;
  position: absolute;
  top: 46rem;
} */

.btn-app img {
  margin-right: 1rem;
  width: auto;
  height: 5rem;
  display: block;
  position: absolute;
  top: 46rem;
  margin-left: 18rem;
}
/*---------------------------------*/
/* Section-discover */
/* /*---------------------------------* */
.section-discover {
  background-color: rgb(231, 231, 231);
  /* width: 100%; */
  background-attachment: fixed;
  padding: 5rem;
  height: 70rem;
}
.section-discover h2 {
  font-size: 4rem;
  margin-left: 59.3rem;
  margin-top: 20rem;
}
.section-discover p {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-left: 60rem;
}
.small-discover {
  width: 48rem;
  height: 33rem;
  position: relative;
  left: 7rem;
  top: -25rem;
  z-index: 9998;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.section-invest {
  background-color: rgb(255, 255, 255);
  height: 70rem;
}
.section-invest h2 {
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
}
.section-invest p {
  font-size: 1.6rem;
  margin-left: 10rem;
  margin-top: 3rem;
}
.small-invest {
  width: 48rem;
  height: 33rem;
  position: relative;
  left: 75rem;
  top: -25rem;
  z-index: 9998;
  box-shadow: 0px 3px 6px #555;
  border-radius: 5px;
}
.section-track {
  background-color: rgb(231, 231, 231);
  height: 60rem;
}
.section-track h2 {
  font-size: 4rem;
  margin-left: 65rem;
  margin-top: 7rem;
  /* position: relative; */
}
.section-track p {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-left: 65rem;
}
.small-track {
  width: 48rem;
  height: 33rem;
  position: relative;
  left: 10rem;
  top: -28rem;
  z-index: 9998;
  box-shadow: 0px 3px 6px #555;
  border-radius: 5px;
}
.section-artist {
  background-color: rgb(255, 255, 255);
  height: 60rem;
  background-image: url(img/Rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-artist h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 7rem;
}
.artist-image {
  display: flex;
  margin-top: 3rem;
  /* margin-left: 100px; */
  /* position: absolute; */
  justify-content: space-between;
}
.section-artist img {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}
figcaption {
  text-align: center;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 200;
}
/* #erigga {
    position: absolute;
    clip: rect(0px,60px,200px,0px);
    margin-left: 0px;
    /* display: flex; */

/* #tems {
    position: absolute;
    clip: rect(0px,80px,200px,0px);
    margin-left: 1100px;
    overflow: hidden;
    border-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
} */
/* marquee {
    display: flex;
    justify-content: space-between;
} */
/* <marquee  behavior="scroll" direction="left">        
    <img src=
"https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190710102234/download3.png"
    alt="GeeksforGeeks logo"> 
</marquee> */

.section-faq {
  height: 65rem;
  background-color: rgb(231, 231, 231);
}
.section-faq h2 {
  font-size: 4rem;
  margin-top: 3rem;
  text-align: center;
}
.faq {
  list-style: none;
  display: block;
  position: relative;
  margin-left: 35rem;
  margin-top: 5rem;
  font-size: 1.4rem;
  font-weight: 200;
}
footer {
  background-color: #150825;
  height: 45rem;
}
footer p {
  color: rgb(231, 231, 231);
  font-size: 1.1rem;
  display: block;
  margin-left: 17rem;
  text-align: center;
  margin-top: 12rem;

  /* position: relative; */
  /* margin-bottom: 40px; */
}
footer h3 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  color: rgb(231, 231, 231);
  position: relative;
  top: -43rem;
}
footer form {
  background-color: #150825;
  display: flex;
  height: 5rem;
  width: 50rem;
  border-radius: 7px;
  margin-top: -42rem;
  margin-left: 45rem;
  /* flex-basis: 200px; */
  /* position: relative; */
}
input[type="email"] {
  width: 70%;
  font-size: 1.1rem;
  color: #150825;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  padding: 1rem;
  border: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
form #submit {
  width: 30%;
  font-size: 1.5rem;
  color: rgb(231, 231, 231);
  background-color: #45284e;
  text-transform: uppercase;
  border-radius: 10px;
  border: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.footerp1 {
  font: 1.5rem;
  color: #e7e7e7;
  display: inline-block;
  margin-left: 98rem;
  margin-top: 7rem;
}
.footerp2 {
  font: 1.5rem;
  color: #e7e7e7;
  display: inline-block;
  margin-left: 98rem;
  margin-top: 1.5rem;
}
.footerp3 {
  font: 1.5rem;
  color: #e7e7e7;
  display: inline-block;
  margin-left: 98rem;
  margin-top: 1.7rem;
}
.social-links {
  list-style: none;
  display: inline-block;
  color: rgb(231, 231, 231);
  background-color: transparent;
  z-index: 9999;
  position: relative;
  font-size: 2rem;
  left: 97rem;
  top: 1rem;
}
.social-links li {
  display: inline-block;
  margin-left: 0.5rem;
  color: rgb(231, 231, 231);
  padding: 0.5rem;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.facebook,
.twitter,
.google,
.instagram,
.linkedin {
  transition: color 0.2s;
  font-size: 2.5rem;
  color: rgb(231, 231, 231);
  border: 2px solid rgb(231, 231, 231);
  background-color: #150825;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #1da1f2;
}

.google:hover {
  color: #ea4335;
}

.instagram:hover {
  color: #c32aa3;
}
.linkedin:hover {
  color: #0a66c2;
}
